<h3>Add new stories</h3>
<div class="row">
    <form action="/stories" class="col s12" method="POST">
        <div class="row">
            <div class="input-field">
                <input type="text" name="title">
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select name="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    <option value="unpublished">Unpublished</option>
                </select>
                <label for="title">Status</label>
            </div>
        </div>
        <div class="row">
            <p>
                <label>
                    <input type="checkbox" class="filled-in" checked="checked" name="allowComments" />
                    <span>Allow Comments</span>
                </label>
            </p>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>Tell Your Story</h5>
                <textarea name="body" cols="50" rows="30"></textarea>

            </div>
        </div>
        <input type="button" value="save" class="btn">
    </form>
</div>